<.header>
  New Contact info
  <:subtitle>Use this form to manage contact_info records in your database.</:subtitle>
</.header>

<.contact_info_form changeset={@changeset} action={~p"/contactinfos"} companies={@companies}/>

<.back navigate={~p"/contactinfos"}>Back to contactinfos</.back>
