<.header>
  {gettext("Edit Company")}{@company.id}
</.header>

<.company_form changeset={@changeset} action={~p"/companies/#{@company}"} />

<.back navigate={~p"/companies"}>{gettext("Back to companies")}</.back>
